<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Prototype App</title>
            <link rel="stylesheet" href="/styles.css" />
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 50%;
        /* The width is the width of the web page */
      }
    </style>
            <meta charset='utf-8' />
    <title>Points on a map</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      
    </style>
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
            <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
  </head> 

    <body>
        <h1>Firefighting App!</h1>
        <section data-position = "add-coord">
        <h2>Enter Name, Latitude and Longitude</h2>
        <form action="/points" method="POST">
            <input type="text" placeholder="name" name="name" />
            <input type="float" placeholder="latitude" name="latitude" />
            <input type="float" placeholder="longitude" name="longitude" />
            <button type="submit">Submit</button>
        </form>
        </section>
        <section data-position = "geo-location">
            <h2>Geolocation: Enter name</h2>
            <div>
                <div id="geolocation">
                    <input type="text" placeholder="new name" id ="geolocation name"/>
                    <button id = "geolocation button">Submit</button>
                </div>
            </div>
        </section>
        <h2> Update </h2>
        <section>
            <div>
                <div id="update">
                    <input type="text" placeholder="new name" id ="new name"/>
                    <input type="float" placeholder="new latitude" id = "new latitude"/>
                    <input type="float" placeholder="new longitude" id = "new longitude"/>
                    <button id = "update button">Submit</button>
                </div>
                <p id = "message"></p>
            </div>
        </section>
        <h2> Delete </h2>
        <section>
            <div>
                <form id="delete">
                    <input type="text" placeholder="delete name" id ="delete name"/>
                    <button id = "delete button">Delete</button>
                </form>
            </div>
            <div id="message"></div>
        </section>
        <script src = "main.js"></script>
        
        <h2> Points </h2>

        <ul class="points">
            <!-- Loop through quotes -->
            <% for(var i = 0; i < points.length; i++) {%>
                <% if(points[i].name !== "") {%>
                <li class="point">
                    <span><%= points[i].name %></span>: 
                    <span><%= points[i].latitude %></span>
                    <span><%= points[i].longitude %></span>
                </li>
            <% }} %>
        </ul>
    <div id="map"></div>
        <div id = "work"></div>
    <script class ="points">
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2xvY2tzaGllbGQiLCJhIjoiY2ttc21mYnN0MGludjJ2bXdqMW10YTk1ZiJ9.dbQLDC0r_5rL_L0tobZ3xQ'; // replace this with your access token
        var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/clockshield/ckmsmi5gn36ye18p3dfo6uhte', // replace this with your style URL
      center: [-87.661557, 41.893748],
      zoom: 10.7
    });
    var geojson = {
        'type': 'FeatureCollection',
        'features': [
          {
            'type': 'Feature',
            'geometry': {
              'type': 'Point',
              'coordinates': [-77.032, 38.913]
            },
            'properties': {
              'title': 'Mapbox',
              'description': 'Washington, D.C.'
            }
          },
          {
            'type': 'Feature',
            'geometry': {
              'type': 'Point',
              'coordinates': [-122.414, 37.776]
            },
            'properties': {
              'title': 'Mapbox',
              'description': 'San Francisco, California'
            }
          }
        ]
      };
	
    function createFeature(name,lat,lng){
      	var y = {
        	'type': 'Feature',
          'geometry' : {
          	'type': 'Point', 
            'coordinates': [lng,lat]
           },
           'properties':{
           	'title':'Location',
            'description':name
            }
           };
         return y;
      }
//        geojson.features.push(createFeature("CHINA TOWN",4,4));
        <%for(var i = 0; i < points.length; i++){ %>
            geojson.features.push(createFeature("<%=points[i].name%>",<%=points[i].latitude%>,<%= points[i].longitude%>));
            
        <%}%>
        
  geojson.features.forEach(function (marker) {
        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';
        
        // make a marker for each feature and add it to the map
        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // add popups
              .setHTML(
                '<h3>' +
                  marker.properties.title +
                  '</h3><p>' +
                  marker.properties.description +
                  '</p>'
              )
          )
          .addTo(map);
      });
    
    </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<!--
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk8_H0jGxul7y2gHgPuN6pEF4AsFn1XMM&callback=initMap&libraries=&v=weekly"
      async
    ></script>
-->

    </body>
</html>